@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Inter:wght@200;300;400;500&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Monoton&display=swap');
/* Commom style  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
     list-style: none; 
     text-decoration: none; 
}
html{
    font-size: 62.2%;
    overflow: hidden;
}

/* section-1 start  */
.section-1{
    width: 100vw;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 4.5vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}
.bank-name{
    font-size: 4rem;
    font-weight: 100;
    margin-top: 1rem ;
    margin-left: -10rem;
}
.navbar ul{
    font-size: 2rem;
    display: flex;
    margin-top: 2rem;
}
.navbar ul a{
    margin: 0 2rem;
}
.center-part{
    background-color: rgb(218, 249, 249);
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.para{
    display: flex;
    flex-direction: column;
    width: 50rem;
}
.para p{
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: .2rem;
    line-height: 8rem;
    color: rgb(248, 199, 199);
    text-shadow: .1rem .1rem .2rem rgb(138, 122, 122);
}
.para u{
    color: blueviolet;
    text-shadow: .1rem .1rem .2rem #111;
}
.button-link{
    display: flex;
}

.btn{
    padding: 1.2rem 3rem;
    margin: 6rem 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    border-radius: 5rem;
    border: 2px solid #fff;
    cursor: pointer;
    background-color: blueviolet;
    color: #fff;

}



/* section-1 ended */